[defaults]
inventory = inventory/hosts.ini

host_key_checking = False
retry_files_enabled = False

# Output
stdout_callback = ansible.builtin.default
bin_ansible_callbacks = True

[callback_default]
result_format = yaml
pretty_results = True

# Gathering facts only its needed
gathering = smart

# Timeouts (ssh)
timeout = 15

[privilege_escalation]
# use 'sudo' by default
become = False
become_method = sudo
become_ask_pass = False

[ssh_connection]
pipelining = True
